body {
	background-color: #cccccc;
	font-family: sans-serif;
}

#player-container {
	margin-left: auto;
	margin-right: auto;
	width: 640px;
	height: 480px;
	background-color: #538c99;
	border-radius: 20px;
}

#title {
	margin-right: auto;
	margin-left: auto;
	width: 640px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
	background-color: #538c99;
	color: #333333;
	border-radius: 20px;

}

#thumbnail-container {
	background-color: #cccccc;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 640px;
	height: 120px;
	overlow-x: scroll;
	overlow-y: hidden;
	white-space: nowrap;
	border-radius: 20px; 
}

#video {
	width: 100%;
	height: 100%;
}